.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--color-bg-default);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  height: 56px;
  background: var(--color-bg-secondary);
  border-bottom: 1px solid var(--color-bg-border);
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  cursor: pointer;
  color: var(--color-typo-primary) !important;
}

.nav {
  display: flex;
  gap: 8px;
  align-items: center;
}

.main {
  flex: 1;
  padding: 32px;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
